<div class="container">
  <div class="map-container">
    <div class="row">
      <div class="col-6">
        <%= link_to "add", new_flat_path, class: "btn btn-ghost" %>


        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2>Title here</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>


        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <% @flats.each do | flat | %>
                <%= link_to flat.title, flat_path(flat) %>
                <p><%= flat.flat_type %></p>
                <p><%= flat.address %></p>
                <p><%= flat.size %></p>
            </div>
            <div>
              <h2 class="card-trip-pricing"><%= flat.price %></h2>
              <% end %>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
      </div>

    </div>
  </div>
</div>
